@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
/*CSS RESET START*/
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
    */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*CSS RESET END*/

/*CSS BODY START*/
body {
  display: inline-block;
  max-width: 100%;
  max-height: 100vh;
  box-sizing: border-box;
}
h4,
h5 {
  font-family: "Fraunces", serif;
  font-size: 62px;
  font-weight: 900;
  color: hsl(0, 0%, 100%);
  letter-spacing: 10px;
}
.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 6rem;
}
.title {
  /* background-image: url(https://cdn.pixabay.com/photo/2017/07/03/20/17/abstract-2468874_960_720.jpg); */
  /* background-image: url(https://images.unsplash.com/photo-1537237858032-3ad1b513cbcc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80); */
  background-image: url(https://images.unsplash.com/photo-1553949285-bdcb31ec5cba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=960&q=80);
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

p,
a,
button {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  background-color: transparent;
  border: none;
}
button,
a {
  cursor: pointer;
}
p {
  line-height: 30px;
}

.btn-contacts {
  border: 0;
  border-radius: 120px;

  padding: 15px 25px 15px 25px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Fraunces", serif;
  background-color: white;
  color: hsl(212, 27%, 19%) !important;
  transition: 0.5s;
}
.btn-contacts:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
  color: white !important;
}
/*CSS BODY END*/

h3 {
  font-family: "Fraunces", serif;
  font-size: 52px;
  font-weight: bold;
}
main {
  display: inline-block;
  width: 99vw;
  height: auto;
}
main > .content {
  display: inline-block;
  width: 100%;
  height: 100%;
}
main > .content > #content-box {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  /* justify-content: center;
        align-items:inherit; */
}

.col-6 {
  width: 100%;
  height: 81vh;
}
.col-6 > .col-box {
  padding: 190px 220px;
}
.col-6 > .img-content {
  width: 100%;
  height: 81vh;
}
.col-box > h3,
.col-box > p {
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.col-box > p {
  line-height: 30px;
}

/*CSS ANIMATION*/
@keyframes upDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
/*CSS ANIMATION END*/
