<section class="content-client">
  <div class="container">
    <div class="wrap-services">
      <div class="service-title fadeInTop" id="services">
        <p>Why Choose Me ?</p>
        <h3>Dengan pengalaman saya dapat memberikan desain produk terbaik.</h3>
      </div>
      <div class="service-item">
        <div class="item">
          <img alt="" src="svg_icon/2.svg" />
          <h3>Web design</h3>
          <p>Menghasilkan sebuah website yang didesain agar tampil menarik dan responsive.</p>
        </div>
        <div class="item">
          <img alt="" src="svg_icon/1.svg" />
          <h3>Graphic design</h3>
          <p>Melakukan proses komunikasi visual dan desain komunikasi secara efektif.</p>
        </div>
        <div class="item">
          <img alt="" src="svg_icon/3.svg" />
          <h3>Mobile design</h3>
          <p>Membangun sebuah app atau web yang sesuai dengan keinginan pelanggan.</p>
        </div>
      </div>
    </div>
  </div>
</section>
