---
  import project1 from '../../images/desktop/project1.jpg';
  import project2 from '../../images/desktop/project2.jpg';
  import project3 from '../../images/desktop/project3.jpg';
  import project4 from '../../images/desktop/project4.jpg';
---

<style>
  .galery-box {
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .galery-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  .galery-section {
    display: flex;
    width: 25%;
    height: 60vh;
  }
  .galery-wrapper .galery {
    width: 100%;
  }
</style>

<section class="galery-box">
  <article class="galery-wrapper">
    <section class="galery-section">
      <img class="galery galery-img-1" src={project1} alt=""/>
    </section>
    <section class="galery-section">
      <img class="galery galery-img-2" src={project2} alt="" />
    </section>
    <section class="galery-section">
      <img class="galery galery-img-3" src={project3} alt="" />
    </section>
    <section class="galery-section">
      <img class="galery galery-img-4" src={project4} alt="" />
    </section>
  </article>
</section>
