<section class="content">
  <div id="content-box">
    <article class="box box-1">
      <section class="col-6">
        <div class="col-box col-box-responsive">
          <h3>Transform your Web Design</h3>
          <p>
            I'am a full-service creative agency specializing in helping brands grow fast. Engage my
            clients through compelling visuals that do most of the marketing for you.
          </p>
          <a class="link-learn" id="link-learn-1" href="#">Learn More</a>
        </div>
      </section>
      <section class="col-6 col-img">
        <img class="img-content img-1" src="./images/desktop/image-transform.jpg" alt="" />
      </section>
    </article>
    <article class="box box-2">
      <section class="col-6">
        <div class="col-box col-box-responsive">
          <h3>Stand out in front of your clients</h3>
          <p>
            Using a collaborative formula of designers, developers, photographers, videographers,
            and copywriters, we{"’"}ll build and extend your website in digital places.
          </p>
          <a class="link-learn" id="link-learn-2" href="#">Learn More</a>
        </div>
      </section>
      <section class="col-6 col-img">
        <img class="img-content img-1" src="./images/desktop/image-stand-out.jpg" alt="" />
      </section>
    </article>
    <article class="box box-3">
      <section class="col-6 col-box-img">
        <div class="img-box">
          <img class="img-content-box" src="./images/desktop/image-graphic-design.jpg" alt="" />
        </div>
        <div class="box3-content content-graphic">
          <h3>Design Website</h3>
          <p>
            Great design makes you memorable. We deliver artwork that underscores your brand message
            and captures potential clients{"’"} attention.
          </p>
        </div>
      </section>
      <section class="col-6 col-box-img">
        <div class="img-box">
          <img class="img-content-box" src="./images/desktop/image-photography.jpg" alt="" />
        </div>
        <div class="box3-content content-photo">
          <h3>Made Website</h3>
          <p>
            Increase your credibility by getting the most stunning, high-quality photos that improve
            your business image.
          </p>
        </div>
      </section>
    </article>
  </div>
</section>
