---
import User from "../components/contents/User.astro";
import Clients from "../components/contents/Clients.astro";
import GaleryClients from "../components/contents/GaleryClients.astro";
---

<main>
  <User />
  <Clients />
  <GaleryClients />
</main>
