---
import User from "./contents/User.astro";
import Clients from "./contents/Clients.astro";
import GaleryClients from "./contents/GaleryClients.astro";
---

<main>
  <User />
  <Clients />
  <GaleryClients />
</main>
