---
import Personal from "./contents/personal.astro";
import Client from "./contents/client.astro";
import Galery from "./contents/galery.astro";
---

<main>
  <Personal />
  <Client />
  <Galery />
</main>
